<nav class="navbar navbar-expand-lg header-bg">
  <!-- navbar-light bg-light  -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" alt="" srcset="" width="50px" height="100%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <form class="form-inline m-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <img src="../../assets/search-icon.png" alt="search" class="search-icon">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Play</a>
      </li> -->
      <li class="nav-item" [ngClass]="{ 'active': currentNavItem === 'book-now'}" (click)="bookNow()">
        <a class="nav-link" href="/booking">Book Now</a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': currentNavItem === 'bookings'}" *ngIf="authService.isUserLoggedIn.value" (click)="openBookings()">
        <a class="nav-link " href="/bookings">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Learn</a>
      </li>
      <li class="nav-item" *ngIf="!isUserLoggedIn">
        <a class="nav-link signup" (click)="loginPage()">Signup</a>
      </li>
      <li class="nav-item" *ngIf="!isUserLoggedIn">
        <a class="nav-link login" (click)="loginPage()">Login</a>
      </li>
      <li class="nav-item" *ngIf="isUserLoggedIn">
        <a class="nav-link username">{{getFullName()}}</a>
      </li>
      <li class="nav-item" *ngIf="isUserLoggedIn" matTooltip="logout" (click)="logout()">
        <a class="nav-link logout"><img src="../../assets/logout-icon.svg" alt="logout"></a>
      </li>
    </ul>
  </div>
</nav>
