ul{
    list-style: none;
    padding-left: 0;
}
ul li{
    margin-bottom: 20px;
    cursor: pointer;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    gap: 10px;    
}
.social-icons li{
    cursor: pointer;
}
.bg-light{
    border-top: 1px solid #E5E5E5;
}