ul{
    list-style: none;
    padding-left: 0;
}
ul li{
    margin-bottom: 20px;
    cursor: pointer;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.social-icons li{
    cursor: pointer;
}
.bg-light{
    border-top: 1px solid #E5E5E5;
}
.ftrcls {
    padding: 10px 46px 0px;
}
.footer-logo {
  margin-right: 15px;
}

.card-text {
  margin-left: 15px;
  line-height: 1.4;
  font-size: 16px;
  width: 300px;
}
@media(max-width:767px){
    .mbl-left ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 20px 0px;
    }
    .mbl-left ul li {
        margin-right: 28px;
    }
    .ftrcls{
        padding: 10px 22px 0px;
    }
    .d-flex.mbl-block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
