.booking-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 240px;
  background-color: #f5f5f5;
}

.booking-details {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  font-size: 23px;
  color: #333;
  font-weight: 600;
}

p {
  margin: 5px 0 10px;
  font-size: 13px;
  color: #666;
}

.offer-banner {
  background-color: #156D12;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.offer-banner p{
  color: #fff;
  margin: 0px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.duration-group {
  display: flex;
  align-items: center;
}

.duration-control {
  display: flex;
  align-items: center;
}

.duration-btn {
  background-color: #156d12;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.hours-input{
  width: 50px;
  text-align: center;
}
.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background-color: #1A8917;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-details {
  width: 35%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-icon {
  margin-bottom: 10px;
}

.cart-icon img {
  width: 50px;
  height: 50px;
}

.cart-container {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  width: 350px;
  height: fit-content;
}
.delete-btn img {
  width: 27px;
}
.cart-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.court-name {
  font-weight: bold;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-item-details {
  margin-top: 10px;
}

.cart-detail {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.cart-container h4 {
  margin: 0;
  font-size: 23px;
  color: #333;
  font-weight: 600;
}
.cart-detail mat-icon {
  margin-right: 10px;
}

.proceed-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.cart-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #333;
}


@media(max-width:767px){
  .booking-container{
    display: block;
    padding: 10px 16px;
    background-color: #f5f5f5;
  }
  .booking-details, .cart-details{
    width: 100%;

  }
  .cart-details, .cart-container{
    margin: 20px 0px;
  }
}
