.ratingblock {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
}

.ratingblock svg {
    height: 18px;
    width: 18px;
}

.share-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    gap: 10px;
}

.sports-card {
    width: fit-content;
    cursor: pointer;
}

.sports-card svg {
    height: 40px;
    width: 40px;
}
button.btn.btn-success.w-100 {
    background: #1A8917;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #1A8917 !important;
    border-color: #1A8917 !important;
}
.cards-all {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    ul{
      display: contents;
    }
}
.booking-details{
    padding: 20px 46px;
}
.ttl-spot{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0px;
}
.carousel-inner.rounded {
    height: 500px;
}
.card-body li{
    text-align: center;
}