<section>
    <div class="search-block">
        <h4>Experience the Next Level of Sports Innovation with THE SPOT!</h4>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [dynamicHeight]="true">
      <mat-tab label="">
        <ng-template mat-tab-label>
          <span>Branches ({{branches.length}})</span>
        </ng-template>
        <div class="cards container py-5">
          <div class="card" *ngFor="let branch of branches" (click)="expandBranch(branch.id)">
            <img class="card-img-top" [src]="'../../assets/' + branch.area + '/THE SPOT ' + branch.area + ' 1.jpeg'" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="card-title">{{branch.name}}</h6>
                <p class="ratingblock">
                  <!-- Rating SVG Icon -->
                  <svg viewBox="0 -0.5 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <!-- SVG Content -->
                  </svg>{{branch.rating}}.00(1)
                </p>
              </div>
              <p class="card-text">{{branch.area}}</p>
              <div class="games-icns">
                <!-- Game Icons -->
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="">
        <ng-template mat-tab-label>
          <span>Coaching (0)</span>
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab label="">
        <ng-template mat-tab-label>
          <span>Events (0)</span>
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
</section>
