/* You can add global styles to this file, and also import other style files */
/* @import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs4-alert'; */
/* @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables'; */
/* @import 'bootstrap/scss/mixins'; */
/* @import 'ngx-toastr/toastr-bs4-alert';
@import 'ngx-toastr/toastr-bs5-alert'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #54a06f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1A8917;
    border-radius: 6px;
    border: 3px solid #ffffff;
  }

  .popup-sec{
    text-align: center;
    padding: 16px 10px 6px;
  }
  .popup-sec h2{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0px !important;
  }
  .gren-txt{
    color: #1A8917;
  }
  .popup-sec p{
    text-align: center;
    font-size: 16px !important;
  }
.yes-btn {
    background: #1A8917;
    color: #fff;
    border-radius: 20px;
    padding: 0px 4px;
    border: 1px solid #1A8917;
    width: 100px;
    margin-left: 12px;
  }
.cancel-btn{
    background-color: #f8f8f8;
    color: #333;
    border-radius: 20px;
    padding: 0px 4px;
    width: 100px;
  }
